/* 侧边栏 */

.sidebar {
    background: rgba(var(--color-card-rgb),.2) !important;
}
.sidebar > nav {
    background: transparent !important;
}
.qq-logo,
.sidebar__avatar {
    display: none !important;
}

.sidebar__nav div.tab-item > div.is-active {
    background: var(--color-main) !important;
    opacity: 1 !important;
}
.sidebar__nav div.tab-item > div.is-active:hover {      /* 去除鼠标悬停颜色 */
    background: var(--color-main) !important;
    opacity: 1 !important;
}
.sidebar__nav div.tab-item > div.is-active + div.tab-item-img {
    filter: brightness(0) invert(1);
}
/* 隐藏 .sidebar__nav > div 超过第二个的元素 */
.sidebar__nav > div:nth-child(n+3) {
    display: none !important;
}